[Desktop Entry]
Name=SCIM Input Method
Name[nl]=SCIM Invoer-methode
Comment=Configure the Smart Common Input Method platform
Comment[nl]=Het Smart Common Input Method platform instellen
Exec=scim-im-agent
Icon=keyboard
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=scim

